body{
    margin :10px ;
}

#pagination{

    padding:10px ;
    margin:5px ;

}


.aa-Panel--scrollable {
    background-color: white;
    z-index: 99;
    border-top: 2px solid #FFB243;
}

.aa-Source{
    text-align: center;
}

#autocomplete .aa-Form {
    border-color: #ffb243 !important;
    border-radius: 4px 0 0 4px;
    border-width: 1px !important;
    height: 40px;
    font-size: 14px;
    width:70% ;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 10px;
}

#autocomplete .aa-Form:focus-within {
    box-shadow: none;
}

.aa-SourceHeaderTitle {
    color: #ffb243 !important;
    font-size: .8em;
    font-weight: 600;
    font-weight: var(--aa-font-weight-semibold);
}

.aa-SourceHeaderLine {
    border-bottom: 1px solid #858585 !important;
}

/* mobile*/
#autocomplete .aa-DetachedSearchButton {
    height: 33px;
    border-color: #ffb243 !important;
}

#autocomplete .aa-InputWrapper {
    box-shadow: none;
}

#autocomplete .aa-Form, #autocomplete .aa-Form:focus-within {
    border-color: #ffb243 !important;
    box-shadow: none;
}



.ais-RefinementList-label{
    font-size: 11px ;
}


/* mobile end*/


 /*Panel section*/
@media screen and (min-width: 680px) {
    .aa-Panel {
        top: 107px;
        left: 3% !important;
        right: 0;
        width: 90% !important;
        max-width: unset;
    }
}
.aa-PanelSections {
    -moz-column-gap: var(--aa-spacing);
         column-gap: var(--aa-spacing);
    display: flex;
}

.aa-PanelSection {
    display: flex;
    flex-direction: column;
}


.aa-PanelSection--left {
    width: 30%;
}

.aa-PanelSection--right {
    width: 70%;
}

/* Item */
.aa-ItemPicture {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* overflow: hidden; */
    /*background: rgba(var(--aa-muted-color-rgb), 0.2);*/
}

.aa-ItemPicture img {
    -o-object-fit: cover;
       object-fit: cover;
   

    /*width: 100%;*/
    /*height: auto;*/
    /*max-width: 100px;*/
    width: auto;
    height: 100%;
    max-height: 150px;
    transition: opacity 0.2s ease-out;
   

}

.aa-ItemPicture--loaded img {
    opacity: 1;
}

.aa-ItemContent{

    display: flex;

}

.aa-ItemContentBody{
    display: block;
    padding: 0px;

}


/* Products */
/* --- Common */
.aa-Source[data-autocomplete-source-id='products'] .aa-List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.aa-Source[data-autocomplete-source-id='products'] .aa-Item {
    padding: var(--aa-spacing-half);
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemLink {
    justify-content: stretch;
    height: 100%;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-SourceHeaderTitle {
    color: #ffb243 !important;
    font-size: 0.8em;
    /*font-weight: var(--aa-font-weight-semibold);*/
}

/* --- Content */
.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContent mark {
    color: rgb(var(--aa-primary-color-rgb));
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--aa-spacing-half);
}

/* --- Brand */
.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentBrand {
    text-transform: uppercase;
    color: rgb(var(--aa-muted-color-rgb));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
    font-size: .7rem;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentBrand mark {
    font-weight: normal;
}

/* --- Title */
.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentTitleWrapper {
    height: calc(var(--aa-spacing) * 2.5);
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentTitle {
    font-size: 0.9em;
    text-align: center;
    color: #1d2124;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*white-space: normal;*/
    line-height: 1.5;
}

/* --- Price */
.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentPrice {
    display: flex;
    -moz-column-gap: var(--aa-spacing-half);
         column-gap: var(--aa-spacing-half);
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentPriceCurrent {
    /*font-weight: bold;*/
    font-weight: 100;
    font-size: .7rem;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentPriceDiscounted {
    font-size: 0.9em;
    text-decoration: line-through;
    color: rgb(var(--aa-muted-color-rgb));
}

/* --- Rating */
.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentRating ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentRating {
    display: flex;
    align-items: center;
    -moz-column-gap: calc(var(--aa-spacing-half) / 2);
         column-gap: calc(var(--aa-spacing-half) / 2);
    margin-top: var(--aa-spacing-half);
}

.aa-Source[data-autocomplete-source-id='products'] .aa-StarIcon {
    width: 1.3em;
    height: 1.3em;
    color: #fdbc72;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-StarIcon--muted {
    color: #d6d6e6;
}

.aa-Source[data-autocomplete-source-id='products'] .aa-ItemContentRatingReviews {
    font-size: 0.7em;
    color: #908eae;
}

/* Media queries */
@media screen and (max-width: 680px) {
    /* Panel section */
    .aa-PanelSections {
        flex-direction: column;
        row-gap: var(--aa-spacing);
    }

    .aa-PanelSection--left,
    .aa-PanelSection--right {
        width: 100%;
    }

    /* Products */
    .aa-Source[data-autocomplete-source-id='products'] .aa-List {
        display: flex;
        flex-wrap: wrap;
        gap: var(--aa-spacing-half);
    }

    .aa-Source[data-autocomplete-source-id='products'] .aa-Item {
        width: calc(100% - var(--aa-spacing-half) / 1);
    }
}

.aa-Source[data-autocomplete-source-id='querySuggestionsPlugin'] .aa-ItemContentTitle {
    font-size: 0.9em;
}

.search-container{
    display:flex ;
    flex-direction: row;
    margin-top:10px ;
}

/* .ais-Hits{
display: flex;
flex-direction: row;
} */

/* #hits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: #ffb243;
} */

#hits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


#hits li {
    display: inline-block;
    margin-top: 10px;
}

#hits ul{
    border-right: #ffb243 2px solid;
    width: 100%;
    right: 30px;
    margin-right: 30px;
    margin-top: -10px;
    overflow: hidden;
}
.ais-Hits{
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}

.ais-Hits-item{
    overflow: hidden;
}
.hit-image{
    margin-bottom: 10px ;
    margin-top: -10px;
    max-height: 190px;
    width: auto;
}



.product{
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
  
}

.product-card {
    width: 180px; 
    height:300px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; 
    margin: 10px;
    padding: 15px;
  }

.product:hover{
 text-decoration: none;
}



.author-name , .price {
    display:block ;
    text-align: center;
    font-size: 15px;
}

.book-name{
    font-size: 12px;
    font-weight: bold;
}








